@page
@model Alpha.Pages.IndexModel
@using Alpha.Models;

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Year</th>
            <th>League<br>Record</th>
            <th>Regular<br>Season<br>Record</th>
            <th>Post<br>Season<br>Record</th>
            <th>Full<br>Season<br>Record</th>
            <th>League</th>
            <th>Head Coach</th>
            <th>Notes</th>
        </tr>
    </thead>

    <tbody>
        @foreach (YearSummary s in Model.YearSummaries) {
            <tr>
                <td><a href="/Years/@s.Year">@s.Year</a></td>
                <td>@s.LeagueRecord</td>
                <td>@s.RegularSeasonRecord</td>
                <td>@s.PostSeasonRecord</td>
                <td>@s.FullSeasonRecord</td>
                <td>@s.League</td>
                <td>@s.HeadCoach</td>
                <td>@s.Notes</td>
            </tr>
        }
    </tbody>

</table>